<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Logo Font-->
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

    <title>One Night Car</title>
</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="nav">
    <a th:href="@{/}" class="navbar-brand">
        <p style="font-family: 'Bungee', cursive; color: #DAEBE5; font-size: 25px; margin-bottom: 0;">One Night Car</p>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rental/car-search}">Rent a Car</a>
            </li>

            <th:block th:if="${loggedIn}">
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Log out</a>
                </li>
            </th:block>

            <th:block th:unless="${loggedIn}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/signup}">Sign up</a>
                </li>
            </th:block>
        </ul>
    </div>
</nav>

<footer class="footer" th:fragment="footer">
    <ul>
        <li>
            <a th:href="@{/imprint}">Imprint</a>
        </li>
        <li>
            <a th:href="@{/tos}">Terms of Service</a>
        </li>
    </ul>
</footer>