<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login</title>
</head>
<body>



<div>
    <h2>Login</h2>
    <h3>pleas enter your e-mail and Password</h3>
    <form action="#" th:action="@{/login}" th:object="${customers}" method="post">

        <label>E-Mail</label>
        <input type="email" th:each="customer : ${customers}" th:field="${customer.getMail()}">

        <label>Password</label>
        <input type="password" th:each="customer : ${customers}" th:field="${customer.getUserPassword()}">

        <button type="submit">Login</button>




        <!--<label for="email" >E-Mail:</label>
        <input type="text" id="email" th:each="customer : ${customers}" th:field="${customer.getMail()}" name="username"><br><br>
        <span th:if=""></span>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" placeholder="Password" ><br><br>
        <span th:each="customer : ${customers}" th:if="${customer.getUserPassword()}" ></span>

        <input type="submit" value="Submit">-->
    </form>
</div>

</body>
</html>