<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login</title>
</head>
<body>



<div>
    <h2>Login</h2>
    <h3>pleas enter your e-mail and Password</h3>
    <form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">

        <label>E-Mail</label>
        <input type="email" th:field="*{email}" placeholder="E-Mail">

        <label>Password</label>
        <input type="password" th:field="*{password}" placeholder="Password">

        <br><button type="submit">Login</button>


    </form>
</div>

</body>
</html>