<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
</head>
<body>

<h1>Customer List</h1>
<table>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Date Of Birth</th>
        <th>Customer Level</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.surname}"></td>
        <td th:text="${customer.dateOfBirth}"></td>
        <td th:text="${customer.customerLevel}"></td>
    </tr>
</table>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>