<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Method</title>
</head>
<body>

<h1>Payment Method List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Card Number</th>
            <th>Card Type</th>
            <th>CCV</th>
        </tr>
        <tr th:each="paymentMethod : ${paymentMethods}">
            <td th:text="${paymentMethod.id}"></td>
            <td th:text="${paymentMethod.cardNumber}"></td>
            <td th:text="${paymentMethod.cardType}"></td>
            <td th:text="${paymentMethod.CCV}"></td>
        </tr>
    </table>
</body>
</html>