<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">

<head th:replace="fragments :: head"></head>

<body class="d-flex flex-column h-100" th:style="'background: url(../assets/img/index-bg.jfif) center center no-repeat; background-size: cover; background-attachment: fixed;'">
    <main class="flex-shrink-0" role="main">
        <nav th:replace="fragments :: nav"></nav>

        <div class="row" style="margin-right: 0px">
            <div class="col-12" style="text-align: center">
                <h2 style="font-family: 'Bungee', cursive; padding-top: 1%;">Your Profile</h2>
            </div>
        </div>
        <!--<div class="col-12" style="text-align: left" >-->
        <!--    <tr th:each="profile : ${customer}" >-->
        <!--        <h3 th:text="${customer.firstName}">First Name</h3>-->
        <!--        <h3 th:text="${customer.surname}">LastName</h3>-->
        <!--        <h3 th:text="${customer.dateOfBirth}">Date Of Birth</h3>-->
        <!--        <h3 th:text="${customer.paymentMethod}">Customer Level</h3>-->
        <!--    </tr>-->

        <!--</div>-->

        <div th:each="profile : ${customer}" class="row" style="margin-right: 0px;">
            <div class="col-12" style="text-align: center; background: rgba(0,0,0,0.5);">

                <a href="">
                    <div style=";
          /*border:6px solid #cccccc;*/
          color: #cccccc;
          text-align: center;
          /*width: 300px;*/
          /*height: 100px;*/
          /*padding: 1.4em;*/
          /*margin-bottom: 5em;*/
          /*margin-left: 2em;*/
          font-size:3em;
          overflow: auto;
          border-radius: 25px;" th:text="${customer.firstName} + ' ' + ${customer.surname}" class="box21 fonts sizebig bold"></div>

                </a>


                <a href="">
                    <div style="
          color: #cccccc;
          text-align: center;
          /*width: 300px;*/
          /*height: 100px;*/
          /*padding: 1.4em;*/
          /*margin-bottom: 5em;*/
          /*margin-left: 2em;*/
          font-size:3em;
          overflow: auto;
          border-radius: 25px;" th:text="${#temporals.format(customer.dateOfBirth, 'dd-MM-yyyy')}" class="box21 fonts sizebig bold">BDate</div>
                </a>


                <a href="">
                    <div style="
          color: #cccccc;
          text-align: center;
          /*width: 300px;*/
          /*height: 100px;*/
          /*padding: 1.4em;*/
          /*margin-bottom: 5em;*/
          /*margin-left: 2em;*/
          font-size:3em;
          overflow: auto;
          border-radius: 25px;" th:text="${customer.mail}" class="box21 fonts sizebig bold">UserLvl</div>
                </a>


                <a href="">
                    <div style="
          /*color: #ccccc;*/
          text-align: center;
          /*width: 300px;*/
          /*height: 100px;*/
          /*padding: 1.4em;*/
          /*margin-bottom: 5em;*/
          /*margin-left: 2em;*/
          font-size:3em;
          overflow: auto;
          border-radius: 25px;">Change payment method</div>
                </a>
            </div>
        </div>

        <div class="row" style="margin-right: 0px; margin-top: 1%;">
            <div class="col-12" style="text-align: center">
                <h4 style="font-family: 'Bungee', cursive; padding-top: 1%; padding-bottom: 1%; background: rgba(255,255,255,0.8);">Your Rentals</h4>
            </div>
        </div>

        <table class="table table-striped" style="background: rgba(255,255,255,0.8); padding-right: 0px;">
            <thead>
            <tr>
                <th scope="col">Station</th>
                <th scope="col">Car</th>
                <th scope="col">Fuel Type</th>
                <th scope="col">Price</th>
                <th scope="col">Rental Date</th>
                <th scope="col">Card Number</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="fuelCarRentals : ${CustomerCarRentals}">
                <tr th:each="combustionCars : ${CustomerCarRentals}">
                    <th scope="row" th:text="${fuelCarRentals.combustionCar.parkingArea.name}"></th>
                    <td th:text="${fuelCarRentals.combustionCar.getBrand()} + ' ' + ${fuelCarRentals.combustionCar.getModel()}"></td>
                    <td th:text="${fuelCarRentals.combustionCar.fuelType}"></td>
                    <td th:text="${fuelCarRentals.rentalPrice}"></td>
                    <td th:text="${fuelCarRentals.rentalDate}"></td>
                    <td th:text="${fuelCarRentals.customer.paymentMethod.cardNumber}"></td>


                </tr>
            </div>
            <div th:each="electricRentals : ${CustomerCarRentalsElectric}">
                <tr th:each="electricCars : ${CustomerCarRentalsElectric}">
                    <th scope="row" th:text="${electricCars.electricCar.electricParkingArea.name}"></th>
                    <td th:text="${electricCars.electricCar.brand} + ' ' + ${electricCars.electricCar.model}"></td>
                    <td> ELECTRIC </td>
                    <td th:text="${electricCars.rentalPrice}"></td>
                    <td th:text="${electricCars.rentalDate}"></td>
                    <td th:text="${electricCars.customer.paymentMethod.cardNumber}"></td>
                </tr>
            </div>
            </tbody>

        </table>
    </main>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <footer th:replace="fragments :: footer"></footer>

</body>