<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title> profile </title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->

</head>

<body th:style="'background: url(../assets/img/index-bg.jfif) center center no-repeat; background-size: cover; background-attachment: fixed;'">
<nav th:replace="fragments :: nav"></nav>
<h1 style="text-align: center; font-weight: bolder">Ihr Profil</h1>

<!--<div class="col-12" style="text-align: left" >-->
<!--    <tr th:each="profile : ${customer}" >-->
<!--        <h3 th:text="${customer.firstName}">First Name</h3>-->
<!--        <h3 th:text="${customer.surname}">LastName</h3>-->
<!--        <h3 th:text="${customer.dateOfBirth}">Date Of Birth</h3>-->
<!--        <h3 th:text="${customer.paymentMethod}">Customer Level</h3>-->
<!--    </tr>-->

<!--</div>-->
<!--1-->
<!--<div  th:each="profile : ${customer}">-->
<!--    <div  style="width: 100%;-->
<!--            margin: 0 auto;-->
<!--            /*padding: 5;*/-->
<!--            height: auto;-->
<!--            float: left;-->
<!--            background: rgba(0,0,0,0.5);">-->

<!--        <a href="">-->
<!--            <div style=";-->
<!--  /*border:6px solid #cccccc;*/-->
<!--  color: #cccccc;-->
<!--  text-align: center;-->
<!--  /*width: 300px;*/-->
<!--  /*height: 100px;*/-->
<!--  /*padding: 1.4em;*/-->
<!--  /*margin-bottom: 5em;*/-->
<!--  /*margin-left: 2em;*/-->
<!--  font-size:3em;-->
<!--  overflow: auto;-->
<!--  border-radius: 25px;" th:text="${customer.firstName} + ' ' + ${customer.surname}" class="box21 fonts sizebig bold"></div>-->

<!--        </a>-->


<!--        <a href="">-->
<!--            <div style="-->
<!--  color: #cccccc;-->
<!--  text-align: center;-->
<!--  /*width: 300px;*/-->
<!--  /*height: 100px;*/-->
<!--  /*padding: 1.4em;*/-->
<!--  /*margin-bottom: 5em;*/-->
<!--  /*margin-left: 2em;*/-->
<!--  font-size:3em;-->
<!--  overflow: auto;-->
<!--  border-radius: 25px;" th:text="${#temporals.format(customer.dateOfBirth, 'dd-MM-yyyy')}" class="box21 fonts sizebig bold">BDate</div>-->
<!--        </a>-->


<!--        <a href="">-->
<!--            <div style="-->
<!--  color: #cccccc;-->
<!--  text-align: center;-->
<!--  /*width: 300px;*/-->
<!--  /*height: 100px;*/-->
<!--  /*padding: 1.4em;*/-->
<!--  /*margin-bottom: 5em;*/-->
<!--  /*margin-left: 2em;*/-->
<!--  font-size:3em;-->
<!--  overflow: auto;-->
<!--  border-radius: 25px;" th:text="${customer.mail}" class="box21 fonts sizebig bold">UserLvl</div>-->
<!--        </a>-->



<!--            <div style="-->
<!--  color: #cccccc;-->
<!--  text-align: center;-->
<!--  /*width: 300px;*/-->
<!--  /*height: 100px;*/-->
<!--  /*padding: 1.4em;*/-->
<!--  /*margin-bottom: 5em;*/-->
<!--  /*margin-left: 2em;*/-->
<!--  font-size:3em;-->
<!--  overflow: auto;-->
<!--  border-radius: 25px;" th:text="${customer.electricRentals.size()} + ' Electric Rental(s) ' + ' and ' + ${customer.fuelRentals.size()} + ' Fuel Rental(s)'" class="box21 fonts sizebig bold"> Size Electric Rental</div>-->

<!--    </div>-->


<!--&lt;!&ndash;        <div style="&ndash;&gt;-->
<!--&lt;!&ndash;  /*color: #ccccc;*/&ndash;&gt;-->
<!--&lt;!&ndash;  text-align: center;&ndash;&gt;-->
<!--&lt;!&ndash;  /*width: 300px;*/&ndash;&gt;-->
<!--&lt;!&ndash;  /*height: 100px;*/&ndash;&gt;-->
<!--&lt;!&ndash;  /*padding: 1.4em;*/&ndash;&gt;-->
<!--&lt;!&ndash;  /*margin-bottom: 5em;*/&ndash;&gt;-->
<!--&lt;!&ndash;  /*margin-left: 2em;*/&ndash;&gt;-->
<!--&lt;!&ndash;  font-size:3em;&ndash;&gt;-->
<!--&lt;!&ndash;  overflow: auto;&ndash;&gt;-->
<!--&lt;!&ndash;  border-radius: 25px;" th:text="${customer.fuelRentals.size()} + 'Fuel Rentals'" class="box21 fonts sizebig bold">Size Fuel Rental</div>&ndash;&gt;-->

<!--</div>-->
<!--2-->



<div style="width: 100%;
            /*margin: 0 auto;*/
            /*al*/
            padding: 5px;
            height: 100%;
            ">
</div>


    <table class="table table-striped" style="background: rgba(255,255,255,0.8);">
        <thead>
        <tr>
            <th scope="col">Station</th>
            <th scope="col">Car</th>
            <th scope="col">Fuel Type</th>
            <th scope="col">Price</th>
            <th scope="col">Rental Date</th>
            <th scope="col">Card Number</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="fuelCarRentals : ${CustomerCarRentals}">
            <tr th:each="combustionCars : ${CustomerCarRentals}">
                <th scope="row" th:text="${fuelCarRentals.combustionCar.parkingArea.name}"></th>
                <td th:text="${fuelCarRentals.combustionCar.getBrand()} + ' ' + ${fuelCarRentals.combustionCar.getModel()}"></td>
                <td th:text="${fuelCarRentals.combustionCar.fuelType}"></td>
                <td th:text="${fuelCarRentals.rentalPrice}"></td>
                <td th:text="${fuelCarRentals.rentalDate}"></td>
                <td th:text="${fuelCarRentals.customer.paymentMethod.cardNumber}"></td>


            </tr>
        </div>
        <div th:each="electricRentals : ${CustomerCarRentalsElectric}">
            <tr th:each="electricCars : ${CustomerCarRentalsElectric}">
                <th scope="row" th:text="${electricCars.electricCar.electricParkingArea.name}"></th>
                <td th:text="${electricCars.electricCar.brand} + ' ' + ${electricCars.electricCar.model}"></td>
                <td> ELECTRIC </td>
                <td th:text="${electricCars.rentalPrice}"></td>
                <td th:text="${electricCars.rentalDate}"></td>
                <td th:text="${electricCars.customer.paymentMethod.cardNumber}"></td>


            </tr>
        </div>
        </tbody>

    </table>


<!--<footer style="position: absolute;-->
<!--  bottom: 0;-->
<!--  width: 100%;" th:replace="fragments :: footer"></footer>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>