<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find your match</title>
    <style>
        .DivForOptions {
            border: 1px solid black;
            margin: auto;
            text-align: center;
            width: 500px;
            background-color: #32E9BD;

        }

        .PageHeader {
            text-align: center;
            font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
        }

        .FontForOptions {
            font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
            font-size: inherit;
        }
    </style>
</head>
<body>
<h1 class="PageHeader">Find your perfect match!</h1>
<div class="DivForOptions">
    <a class="FontForOptions" href="SearchByCar.html">Check what cars you can search for</a>
</div>
<div class="DivForOptions">
<a class="FontForOptions" href="SearchByStation.html">Check what cars are available at your local station</a>
</div>
</body>
</html>