<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title> Search Results</title>
</head>
<body style="font-size: small">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" th:text="'Date: ' + ${date}" style="font-size: larger">PlaceHolder</div>
        </div>
        <div class="row">
            <div class="col-md-1">Station</div>
            <div class="col-md-1">Car</div>
            <div class="col-md-1">Fuel Type</div>
            <div class="col-md-1">Charge/Fuel - Level</div>
            <div class="col-md-1">Price (Hour)</div>
            <div class="col-md-6">Availability</div>
        </div>

        <div class="row" th:each="fuelParkingArea : ${fuelParkingAreas}">
            <div class="col-md-12">
                <div th:each="combustionCar : ${fuelParkingArea.carsInStation}">
                    <div class="row">
                        <div class="col-md-1" th:text="${fuelParkingArea.name}">b</div>
                        <div class="col-md-1" th:text="${combustionCar.brand} + ' ' + ${combustionCar.model}">b</div>
                        <div class="col-md-1" th:text="${combustionCar.fuelType}">b</div>
                        <div class="col-md-1" th:text="${combustionCar.fuelLevel}">b</div>
                        <div class="col-md-1" th:text="${combustionCar.price}">b</div>
                        <div class="col-md-6"> nope</div>
                        <div class="col-md-1"><button>Rent!</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" th:each="electricParkingArea : ${electricParkingAreas}">
            <div class="col-md-12">
                <div th:each="electricCar : ${electricParkingArea.electricCarsInStation}">
                    <div class="row">
                        <div class="col-md-1" th:text="${electricParkingArea.name}">a</div>
                        <div class="col-md-1" th:text="${electricCar.brand} +  ' ' + ${electricCar.model}">a</div>
                        <div class="col-md-1" >ELECTRIC</div>
                        <div class="col-md-1" th:text="${electricCar.chargePercent}">a</div>
                        <div class="col-md-1" th:text="${electricCar.price}">a</div>
                        <div class="col-md-6"> nope</div>
                        <div class="col-md-1"><button>Rent!</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>