<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search at your local station</title>
    <style>
        .PageHeader {
            margin: auto;
            text-align: center;
            font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
        }

        div.form
        {
            display: block;
            text-align: center;
            padding: 70px 0;
        }
        form
        {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }
    </style>
</head>
<body>
<h1 class="PageHeader">Check out what your local station can offer!</h1>
<div class="form">
    <form name="Search by station">
        <h4>Select your city</h4>
        <select id="city" name="city" class="center">
            <option value="Erfurt">Erfurt</option>
            <option value="Hamburg">Hamburg</option>
            <option value="Berlin">Berlin</option>
            <option value="Köln">Köln</option>
            <option value="München">München</option>
        </select>

        <h4>Select the station</h4>
        <select>
            <option value="Erfurt1">Erfurt Gispersleben</option>
            <option value="Erfurt2">Erfurt Rieth</option>
            <option value="Hamburg1">Hamburg Stellingen</option>
            <option value="Hamburg2">Hamburg Wandsbek</option>
            <option value="Berlin">Berlin</option>
            <option value="Köln">Köln</option>
            <option value="München">München</option>
        </select>

        <h4>Select the starting date</h4>
        <input type="datetime-local">
        <br>
        <br>
        <input type="submit">

    </form>
</div>
</body>
</html>