<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title> Search Results</title>
</head>
<body style="font-size: small">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Station</th>
            <th scope="col">Car</th>
            <th scope="col">Fuel Type</th>
            <th scope="col">Charge/Fuel - Level</th>
            <th scope="col">Price (Hour)</th>
            <th scope="col" colspan="24">Availability (From-To)</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="fuelParkingArea : ${fuelParkingAreas}">
            <tr th:each="combustionCar : ${fuelParkingArea.carsInStation}">
                <th scope="row" th:text="${fuelParkingArea.name}"></th>
                <td th:text="${combustionCar.brand} + ' ' + ${combustionCar.model}"></td>
                <td th:text="${combustionCar.fuelType}"></td>
                <td th:text="${combustionCar.fuelLevel}"></td>
                <td th:text="${combustionCar.price}"></td>
                <form>
                    <td>
                        <div class="form-check form-check-inline" th:each="timeslot : ${rentalTimeSlots}">
                            <input class="form-check-input" type="checkbox" id="fuel-timeslot" th:value="${timeslot}">
                            <label class="form-check-label" for="fuel-timeslot" th:text="${#temporals.format(timeslot.departureTime, 'HH')} + ' - ' + ${#temporals.format(timeslot.arrivalTime, 'HH')}"></label>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-dark">Rent</button>
                    </td>
                </form>
            </tr>
        </div>
        <div th:each="electricParkingArea : ${electricParkingAreas}">
            <tr th:each="electricCar : ${electricParkingArea.electricCarsInStation}">
                <th scope="row" th:text="${electricParkingArea.name}"></th>
                <td th:text="${electricCar.brand} + ' ' + ${electricCar.model}"></td>
                <td> ELECTRIC </td>
                <td th:text="${electricCar.chargePercent}"></td>
                <td th:text="${electricCar.price}"></td>

                <form th:action="@{/rental/rentACar}" th:object="${electricRental}" method="post">
                    <td>
                        <div class="form-check form-check-inline" th:each="timeslot : ${rentalTimeSlots}">
                            <input class="form-check-input" type="checkbox"
                                   th:value="${timeslot}"
                                   th:field="*{timeSlotsList}">
                            <label class="form-check-label"
                                   th:text="${#temporals.format(timeslot.departureTime, 'HH')} + ' - ' + ${#temporals.format(timeslot.arrivalTime, 'HH')}"
                                   th:for="${#ids.prev('timeSlotsList')}">
                            </label>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-dark">Rent</button>
                    </td>
                    <div th:field="*{electricCar}" th:value="${electricCar}" style="display: none"></div>
                    <div th:field="*{date}" th:value="${date}"style="display: none"></div>
                    <div th:field="*{customer}" th:value="${customer}" style="display: none"></div>
                </form>
            </tr>
        </div>
        </tbody>
    </table>
</body>
</html>